{% load static %}

{%block content_css%}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" type="text/css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css'>
<link rel="stylesheet" href="{%  static 'css/taskbar.css' %}">
{%endblock content_css%}

{%block scripts%}
    <script type="text/javascript" src="{% static 'js/taskbar.js' %}"></script>
{%endblock scripts%}

{% block content %}
<div class='taskbar'>
    <div class="startbar">
      <div id='start-program-container'>
        <div id="startbutton" class="startbutton-off">
          <b>Start</b>
        </div>
        <!--
        <div id='program_container'>
          <span class="program" id="logan-icon">
            <div>
              <img src='/static/images/icons/logan_small.png'><p>Logan.exe</p>
            </div>
          </span>
        </div>
        <div id='program_container'>
          <span class="program" id="projects-icon">
            <div>
              <img src='/static/images/icons/projects_small.png'><p>Projects.exe</p>
            </div>
          </span>
        </div>
        -->
      </div>
      <div class="time">
          <img class='icon' id='rating-icon' src="{%  static 'images/icons/rating.png' %}" onclick="openDraggableWindow(this)">
          <img class='icon' id='clippy-icon' src="{%  static 'images/icons/warning.png' %}" onclick="clippy()">
          <img class='icon' id='sun-icon' src="{%  static 'images/icons/sun.png' %}">
          <img class='icon' id='timedate-icon' src="{%  static 'images/icons/timedate.png' %}">
          <img class='icon' id='volume-icon' src="{%  static 'images/icons/volume.png' %}">
          <p>??:?? AM</p>
      </div>
    </div>
    <div class="menu" id = "menu">
      <div class="menu-sidebar">
        <div class="headline">
          <strong>Windows</strong> 98
        </div>
      </div>
      <ul class='menu-content'>
        <li class='item folder'>
          <img class='icon' src="{%  static 'images/icons/programs.gif' %}">
          <em>P</em>rograms
          <ul class='menu-content'>
            <li class="item">
              <img class='icon' src="{%  static 'images/icons/ie.png' %}">
                Internet Explorer
            </li>
            <li class="item">
              <img class='icon' src="{%  static 'images/icons/msn.png' %}">
                MSN
            </li>
            <li class="item">
              <img class='icon' src="{%  static 'images/icons/msword.png' %}">
                Microsoft Word
            </li>
            <li class="item">
                <img class='icon' src="{%  static 'images/icons/mspp.png' %}">
                Microsoft Powerpoint
            </li>
            <li class="item">
                <img class='icon' src="{%  static 'images/icons/mspaint.png' %}">
                Microsoft Paint
            </li>
            <li class="item" id="aim-icon" onclick="openDraggableWindow(this)">
              <img class='icon' src="{%  static 'images/icons/aim.png' %}">
                AIM
            </li>
            <li class="item" id="rocket" onclick="startFlight()">
              <img class='icon' src="{%  static 'images/icons/rocket.png' %}">
                ?????????????
            </li>
          </ul>
        </li>
        <li class='item folder'>
          <img class='icon' src="{%  static 'images/icons/msdos.png' %}">
          G<em>a</em>mes
          <ul class='menu-content'>
            <li class="item" onclick="startGame('SOLSUITE');">
              <img class='icon' src="{%  static 'images/icons/game_icons/solitaire.png' %}">
              Solitaire
            </li>
            <li class="item" onclick="startGame('MSPAC');">
              <img class='icon' src="{%  static 'images/icons/game_icons/mspacman.png' %}">
              Ms. Pac-man
            </li>
            <li class="item" onclick="startGame('DOOM');">
              <img class='icon' src="{%  static 'images/icons/game_icons/doom.png' %}">
              DOOM
            </li>
            <li class="item" onclick="startGame('DUKE3D');">
              <img class='icon' src="{%  static 'images/icons/game_icons/duke3d.png' %}">
              Duke Nukem 3D
            </li>
            <li class="item" onclick="startGame('WOLF3D');">
              <img class='icon' src="{%  static 'images/icons/game_icons/wolf3d.png' %}">
              Wolfenstein 3D
            </li>
            <li class="item" onclick="startGame('MARIO');">
              <img class='icon' src="{%  static 'images/icons/game_icons/mario.ico' %}">
              Mario
            </li>
            <li class="item" onclick="startGame('MK3');">
              <img class='icon' src="{%  static 'images/icons/game_icons/mk3.png' %}">
              Mortal Kombat 3
            </li>
            <li class="item" onclick="startGame('DF');">
              <img class='icon' src="{%  static 'images/icons/game_icons/darkforces.png' %}">
              Star Wars: Darkforces
            </li>
            <li class="item" onclick="startGame('SSHOCK');">
              <img class='icon' src="{%  static 'images/icons/game_icons/systemshock.png' %}">
              Systemshock
            </li>
            <li class="item" onclick="startGame('SF2TURBO');">
              <img class='icon' src="{%  static 'images/icons/game_icons/streetfighter2t.png' %}">
              Street Fighter 2 Turbo
            </li>
            <li class="item" onclick="startGame('SABA');">
              <img class='icon' src="{%  static 'images/icons/game_icons/tetris.png' %}">
              Acid Tetris
            </li>
          </ul>
        </li>
        <li class='item folder'>
          <img class='icon' src="{%  static 'images/icons/documents.gif' %}">
          <em>D</em>ocuments
          <ul class='menu-content'>
            <li class="item">
              <img class='icon' src="{%  static 'images/icons/txt.gif' %}">
              favbands.txt
            </li>
            <li class="item">
              <img class='icon' src="{%  static 'images/icons/txt.gif' %}">
              passwords.txt
            </li>
            <li class="item">
                <img class='icon' src="{%  static 'images/icons/txt.gif' %}">
                asdfzmtihlsjfhwi.txt
            </li>
          </ul>
        </li>
        <li class='item folder' id = "themes-icon" onclick="openDraggableWindow(this)">
          <img class='icon' src="{%  static 'images/icons/settings.gif' %}">
          <em>S</em>ettings
          <ul class='menu-content'>
            <li class="item">
              <img class='icon' src="{%  static 'images/icons/themes.png' %}">
                Themes
            </li>
          </ul>
        </li>
        <li class='item folder'>
          <img class='icon' src="{%  static 'images/icons/find.gif' %}">
          <em>F</em>ind
        </li>
        <li class='item'>
          <img class='icon' src="{%  static 'images/icons/help.gif' %}">
          <em>H</em>elp
        </li>
        <li class='item'>
          <img class='icon' src="{%  static 'images/icons/run.gif' %}">
          <em>R</em>un...
        </li>
        <li class='divider'></li>
        <li class='item'>
          <img class='icon' src="{%  static 'images/icons/logoff.gif' %}">
          <em>L</em>og Off Win98...
        </li>
        <li class='item'>
          <img class='icon' src="{%  static 'images/icons/shutdown.gif' %}">
          Sh<em>u</em>t Down...
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}